/*-----color------*/
$dark: rgb(8, 8, 8);
$light: rgb(255, 255, 255);
$accent: #fc8684;
$more-accent: rgb(250, 88, 90);
$link:  rgb(108, 108, 255);
$link-hover:  rgb(73, 73, 170);
$button: rgb(250, 88, 90);
$button-hover: rgb(191, 69, 75);
$hover-footer: rgb(243, 238, 217);
$orange: rgb(248, 180, 145);
$crem: #F3EED9;
$gray-light: rgb(185, 174, 169);
$gray:  rgb(204, 190, 184);
$dark-light: rgb(80, 76, 74);


$error: red;

/*-----gradient-----*/
$background-gradient: linear-gradient(to bottom, #000000, #1a0307, #28050a, #350407, #441414);
$background-gradient-overlay: linear-gradient(rgba(19, 19, 51, 0.7),rgba(18, 15, 32, 0.7));
$background-gradient-overlay-top:linear-gradient(to top, #050101, #0e0605, #310d08, #0a0504, #050201);


$box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 1);

/*-----font------*/
$font-family-poppins: Poppins, georgia, "sans-serif";
$font-family-lato:  Lato, georgia, "sans-serif";
$font-family-roboto:  Roboto, georgia, "sans-serif";

/*-----media------*/
$media-sm-sm: 400px;
$media-sm: 500px;
$media-sm-md: 600px;
$media-md: 768px;
$media-md-lg: 900px;
$media-lg-sm: 1150px;
$media-lg-md: 1280px;

    



  
  
 